:root{
    --main-color:#1450ac;
    --bg:#ffffff;
    --border:.1rem solid rgba(51, 40, 40, 0.596);
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 70%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

body{
    background: var(--bg);
}

section{
    padding:2rem 7%;
}

.heading{
    text-align: center;
    color:rgb(0, 0, 0);
    text-transform: uppercase;
    padding-bottom: 8rem;
    font-size: 5rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.5rem;
    color:#fff;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}

.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 5rem;
}

.header .navbar a{
    margin:0 1rem;
    font-size: 1.5rem;
    color:rgb(0, 0, 0);
}

.header .navbar a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.home .content{
    max-width: 70rem;
}

.home .content h3{
    font-size: 5rem;
    text-transform: uppercase;
    color:rgb(0, 0, 0);
    
}

.home .content p{
    font-size: 1.5rem;
    font-weight: lighter;
    line-height: 1.8;
    padding:1rem 0;
    color:rgb(0, 0, 0);
}

.bantuan .row{
    display: flex;
    align-items: center;
    background:var(--black);
    flex-wrap: wrap;
}

.bantuan .row .image{
    flex:1 1 30rem;
}

.bantuan .row .image img{
    width: 80%;
}
.bantuan .row .content{
    flex:1 1 60rem;
    padding:2rem;
}

.bantuan .row .content h3{
    font-size: 3rem;
    color:rgb(0, 0, 0);
}

.bantuan .row .content p{
    font-size: 1.5rem;
    color:rgb(0, 0, 0);
    padding:1rem 0;
    line-height: 1.8;
}

.footer{
    background:var(--main-color);
    text-align: center;
}

.footer .navbar a{
    margin:0 1rem;
    font-size: 1.5rem;
    color:rgb(0, 0, 0);
}

.footer.navbar a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}


.footer .credit{
    font-size: 2rem;
    color:rgb(0, 0, 0);
    font-weight: lighter;
    padding:1.5rem;
}

.footer .credit span{
    color: rgb(255, 248, 248);
}
